<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>TEA : ABOUT</title>
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" th:href="@{/css/Navigation.css}" />
	<link rel="stylesheet" th:href="@{/css/About.css}" />
</head>
<body>
	<nav th:replace="~{Navigation::navbar()}">	
	</nav>
	<div class="information">
		<h3>Packed & Repacked By :</h3>
		<h1>Gopal Food & Beverages</h1>
		<h4>Upper Floor, Toywale Shop,</h4>
		<h4>Near Ratndeep Super Market,</h4>
		<h4>Hyderabad-Telangana,India.</h4>
		
	</div>
	<div class="icons">
		<h3><i class="fa-brands fa-square-instagram" style="color: black;"></i>Gopi Solanki</h3>
		<h3><i class="fa-solid fa-phone" style="color: black;"></i> : +91-9359045124</h3>
		<h3> <i class="fa-solid fa-envelope" style="color: black;"></i>  : solankigopal@gmail.com</h3>
		
	</div>
</body>
</html>